.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.75rem; /* To define the gap between rows/columns */
  gap: 0.75rem;
  padding: 0.75rem;
}
body {
  background: linear-gradient(to top right, #E3F0FF, #d5bdc0);
  font-family: montserrat, serif;
  overflow: scroll;
}
.card {
  /* This will come in handy later to center the contents */
  position: relative;
  flex: 1;
  flex-basis: 200px;
  flex-grow: 0;
  height: 250px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 5px;
  //border: 2px solid #fff;
  box-shadow: 0px 2px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  margin-left: 5px;
  // height: 150px;
  min-width: 200px;
}
.card img{
   height: 250px;
   width: 100%;
   min-width: 200px;
   max-width: none;
   transition: all .5s cubic-bezier(.8,.5,.2,1.4);
 }
.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card h6{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.card p{
  font-size: 12px;
  line-height: 24px;
  height: 68%;
}
.card ion-button{
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  --background: #ff3838;
  color:#fff;
  font-size: 12px;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
  float: right;
}
.card ion-button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}



$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #eb445a;
$color-3: #2ecc71;

// Breakpoints


*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}


figure {
  cursor: pointer;
  height: 300px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    img {
      transform: scale(1.25);
    }
    figcaption {
      bottom: 0;
    }
  }
  h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
  }
  img {
    height: 100%;
    width: 100%;
    transition: 0.25s;
  }
  figcaption {
    position: absolute;
    bottom: -44%;
    left: 0;
    width: 100%;
    //height: 50%;
    margin: 0;
    padding: 4px;
    background-color: rgba(black,0.48);
    box-shadow: 0 0 20px rgba(black,0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
    ion-icon {
      margin: 0 0 20px;
      padding: 0;
    }
    p {
      font-size: 14px;
      line-height: 1.75;
    }
    button {
      position: relative;
      display: flex;
      align-items: end;
      justify-content: center;
      margin: 10px 0 0;
      padding: 10px 30px;
      background-color: $color-2;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      float: right;
    }
  }
}


@media screen and (max-width: 500px) {
  figure{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 300px;
    figcaption{
      bottom: -55%;
    }
  }

}

