<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" (click)="this.crudService.gettingUser()">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <body>
  <p class="box-title">Les nouveaux livres :</p>
  <div class="scroll-box">
    <div class="card" *ngFor="let image of this.crudService.imagesNewBooks">
      <img [src]="image.url">
      <div class="descriptions">
        <h6>{{image.name}}</h6>
        <p>{{image.description}} </p>
        <ion-button (click)="showingDetails(image)" [routerLink]="['/livre', image.name]">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          Details
        </ion-button>
      </div>
    </div>

  </div>
  <br>

  <p class="box-title">Sélectionné pour vous :</p>
  <div class="scroll-box">
    <div class="card" *ngFor="let image of this.crudService.imagesEditeurChoice">
      <img [src]="image.url">
      <div class="descriptions">
        <h6>{{image.name}}</h6>
        <p>{{image.description}} </p>
        <ion-button (click)="showingDetails(image)" [routerLink]="['/livre', image.name]">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          Details
        </ion-button>
      </div>
    </div>
  </div>
  <br>

  <p class="box-title">Les livres que vous aimez :</p>
  <div class="scroll-box">
    <div class="card" *ngFor="let image of this.crudService.imagesFavoris">
      <img [src]="image.url">
      <div class="descriptions">
        <h6>{{image.name}}</h6>
        <p>{{image.description}} </p>
        <ion-button (click)="showingDetails(image)" [routerLink]="['/livre', image.name]">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          Details
        </ion-button>
      </div>
    </div>
  </div>
  <br>

  <p class="box-title">Les plus gros succès de ce mois :</p>
  <div class="scroll-box">
    <div class="card" *ngFor="let image of this.crudService.imagesTendances">
      <img [src]="image.url">
      <div class="descriptions">
        <h6>{{image.name}}</h6>
        <p>{{image.description}} </p>
        <ion-button (click)="showingDetails(image)" [routerLink]="['/livre', image.name]">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          Details
        </ion-button>
      </div>
    </div>
  </div>
  <br>

  </body>


</ion-content>
